<header>
  <app-navbar></app-navbar>
</header>
<main>
  <mat-sidenav-container>
    <mat-sidenav #rightSidenav>
      <mat-nav-list (click)="rightSidenav.opened = false">
        <a mat-list-item routerLink="catalogue"> Catalogue </a>
        <span *ngIf="isLogged">
          <a mat-list-item routerLink="orders"> Orders </a>
          <a mat-list-item routerLink="pharmacies"> Pharmacies </a>
          <a mat-list-item routerLink="prescriptions"> Prescriptions </a>
          <a mat-list-item routerLink="products"> Products </a>
          <a mat-list-item routerLink="subscriptions"> Subscriptions </a>
          <a mat-list-item routerLink="users"> Users </a>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 87vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer>
  <app-footer></app-footer>
</footer>
