.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.catalogue-card {
  width: 250px;
  height: 350px;
  margin: 32px 0px;
}
.catalogue-image {
  width: 100%;
  height: 40%;
}

.card-content {
  display: flex;
  flex-direction: column;
}
